* {
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: white;
    font-family: "Spectral", serif;
    font-size: clamp(18px, 1.8vw, 28px); 
    text-align: center;
    padding: 0 20px;
}

#story-container {
    margin: 40px auto;
    padding: 20px 40px;
    max-width: 1000px;
    min-height: 80vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#start-button {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900; 
    color: white;
    background-color: #212121;
    font-size: 5vw;
    font-family: inherit;
    border: none;
}

#image-container {
    min-height: 100px;
    margin-bottom: 20px;
}

#image-container > img {
    min-height: 160px;
}

.slide-image {
    width: auto;
    height: 120px;
    object-fit: cover;
    object-position: bottom;
}

@media only screen and (min-width: 600px) {
    .slide-image {
        width: auto;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }
}

#text-container {
    margin: 10px 0;
}

#choices-container {
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#choices-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: inherit;
    background-color: #212121;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

#choices-container button:hover {
    background-color: white;
    color: black;
}


